#  Local .terraform directories
**/.terraform/*
**/.secret/*
**/.terragrunt-cache/*
**/data/*
**/kubernetes-cluster/cluster.yaml

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#
**/.kube
